header {
  background: url(../images/background.jpg);
  height: 35rem;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.logo {
  display: inline-block;
  font-size: 0;
}
