.register{
    background-image: url(../../images/background1.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;

  h4{
        color: white;
        margin-bottom: 1rem;
    }
}

