.btn {
  outline-style: none;
  border: 0;
  transition: 0.5s;
  &:hover{
    filter: brightness(90%);
  }
}

.btn-primary {
  padding: 1rem;
  background-color: #342c2c;
  vertical-align: middle;
  @include colortext(white);
  @include responsive(530px){
    width: 100%;
  }
}

.btn-secondary {
  color: white;
  background-color: #f5a623;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.14);
  padding: 1rem 1.24rem;

  .deals & , .tips & {
    margin-top: 1.5rem;
  }
  
}

.input-group {
  font-size: 0;
  > input {
    font-size: 0.6rem;
    padding: 1rem;
    width: 15rem;
    outline-style: none;
    border: 0;
    @include responsive(530px) {
      width: 100%;
    }
  }
  input[type="number"] {
    width: 7.5rem;
    @include responsive(530px) {
      width: 100%;
    }
  }
}
