html {
  font-size: 20px;
  font-family: "Poppins", "Times New Roman", Times, sans-serif;
  @include responsive(500px){
    font-size: 15px;
  }
}

h1 , .register h2{
  font-size: 2rem;
  letter-spacing: 1.12px;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  @include colortext(white);
}

h2 {
  font-size: 1.11rem;
  .deals & ,  .tips & {
    opacity: 0.8;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
    color: #000000;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05px;

  .deals__list & {
    opacity: 0.8;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  }
}

h4 {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  font-weight: 500;
  header & {
    @include colortext(white);
    opacity: 0.9;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .deals .container > & , .tips > .container & {
    opacity: 0.5;
    color: #696969;
    margin-bottom: 2rem;
  }
}
