/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  text-decoration: none;
  color: none;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

html {
  font-size: 20px;
  font-family: "Poppins", "Times New Roman", Times, sans-serif;
}
@media screen and (max-width: 500px) {
  html {
    font-size: 15px;
  }
}

h1, .register h2 {
  font-size: 2rem;
  letter-spacing: 1.12px;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  color: white;
}

h2 {
  font-size: 1.11rem;
}
.deals h2, .tips h2 {
  opacity: 0.8;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05px;
}
.deals__list h3 {
  opacity: 0.8;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
}

h4 {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  font-weight: 500;
}
header h4 {
  color: white;
  opacity: 0.9;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.deals .container > h4, .tips > .container h4 {
  opacity: 0.5;
  color: #696969;
  margin-bottom: 2rem;
}

.container {
  max-width: 1200px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 2rem;
  }
}

.btn {
  outline-style: none;
  border: 0;
}

.btn-primary {
  padding: 1rem;
  background-color: #342c2c;
  vertical-align: middle;
  color: white;
}
@media screen and (max-width: 530px) {
  .btn-primary {
    width: 100%;
  }
}

.btn-secondary {
  color: white;
  background-color: #f5a623;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.14);
  padding: 1rem 1.24rem;
}
.deals .btn-secondary, .tips .btn-secondary {
  margin-top: 1.5rem;
}

.input-group {
  font-size: 0;
}
.input-group > input {
  font-size: 0.6rem;
  padding: 1rem;
  width: 15rem;
  outline-style: none;
  border: 0;
}
@media screen and (max-width: 530px) {
  .input-group > input {
    width: 100%;
  }
}
.input-group input[type=number] {
  width: 7.5rem;
}
@media screen and (max-width: 530px) {
  .input-group input[type=number] {
    width: 100%;
  }
}

header {
  background: url(../images/background.jpg);
  height: 35rem;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 530px) {
  header .input-group > * {
    width: 100%;
  }
}

.logo {
  display: inline-block;
  font-size: 0;
}

.deals {
  text-align: center;
}

.deals__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: "null";
}
@media screen and (max-width: 1200px) {
  .deals__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.deals__list > li {
  width: 14rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .deals__list > li {
    margin: 0.5rem;
  }
}
.deals__list > li > a {
  color: black;
}
.deals__list > li > a:hover {
  text-decoration: underline;
}

.dealsimg {
  width: 11rem;
  height: 7rem;
  background-color: rgba(227, 227, 227, 0.73);
}

.tips > .container {
  text-align: center;
}

.tips__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: "null";
  align-content: "null";
}
@media screen and (max-width: 1200px) {
  .tips__list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.tips__list li {
  width: 18.5rem;
  height: 10rem;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .tips__list li {
    margin: 0.5rem;
  }
}
.tips__list li:hover .tipsimg {
  filter: brightness(50%);
}
.tips__list li:hover .tips__link {
  top: 50%;
}

.tips__list li > a {
  display: inline-block;
  font-size: 0;
  width: inherit;
  height: inherit;
}

.tipsimg {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: all 0.5s;
}

.tips__link {
  position: absolute;
  color: white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.register {
  background-image: url(../../images/background1.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
}
.register h4 {
  color: white;
  margin-bottom: 1rem;
}

footer {
  background-color: #342c2c;
}
footer > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: "null";
  align-content: "null";
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 4.5rem;
}
@media screen and (max-width: 1200px) {
  footer > .container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.footer__list > li {
  float: left;
  margin-right: 0.5rem;
}
.footer__list > li a {
  color: white;
}
.footer__list > li a:hover {
  filter: brightness(80%);
}

/*# sourceMappingURL=styles.css.map */
